body{
    font-family: 'Inter', sans-serif;
}

/* nav related styles */
.text-primary{
    color: orange;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 300 200px;

    
}
.nav-title{
    color:  #181818;
font-size: 45px;
font-weight: 300;
margin: 20px;


}
nav > ul{
    display: flex;
    text-align: center;

}
nav  li{
    list-style: none;
    margin: 30px;
}
nav  a{
    text-decoration: none;
    color: black;
}
button{
     background-color:  orange;
     border-radius: 5px;
    width: 100px;
    height: 45px;
    border: 0;
    color: aliceblue;

    }
.header{
    background: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px; 
    
    
    
}
.banner{
    padding:  30px 30px 0px 100px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;

    

}

.banner .profile-pic{
    width: 400px;
    position: right;
    
    
    
}
.banner-greeting{
font-size: 45px;
counter-reset: #474747;
margin-bottom: 0;

}
.banner-title{
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*main section style */
main{
    width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* about section*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: rgb(244, 231, 210);
    margin: 130px 0;
}
.section-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;


}
.section-description{
    color:  #757575;
text-align: center;

font-size: 18px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;
}
.skills-container{
    
    display: flex;
    gap: 24px;
    
    
}
.skills{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgb(245, 228, 191);
}
.skill-description{
    color: rgba(117, 116, 105, 0.613);
}
.resume-column-title{
    color:  #474747;

font-size: 30px;

}
.resume-container{

display: flex;
gap:50px
}

/* footer section */

footer{
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    background: rgb(247, 235, 231);
    padding: 30px 230px;
    margin-top: 100px;
    gap: 10px;

}
.section-description1{
    text-align: left;
    color: #757575;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    border: 0;
}
.submit{
    background-color: orange;

}